.header__promo {
    background-image: url(../images/back.jpg);
    color: var(--basic-color);
    position: relative;
}

.header__promo-title {
    margin: 0;
    font-weight: 700;
    font-size: 28px;
    line-height: 42px;
    padding: 227px 0 0 67px;
}

.header__promo-text {
    line-height: 21px;
    padding: 22px 0 0  67px;
}

.header__promo-image-wrap {
    position:relative;
    padding-bottom: 165px;
}

.header__promo-image:first-child {
    position: absolute;
    top: -50px;
    right: 10%;
    transform: translateY(-50%);
}

.header__promo-image:last-child {
    position: absolute;
    bottom: -44px;
    right: 43%;
    transform: translateY(-50%);
}

.header__promo-link {
    margin-top: 51px;
    width: 198px;
    border: 1px solid var(--basic-color);
    color: var(--basic-color);
    margin-left: 67px;
} 

.header__promo-button {
    width: 40px;
    height: 40px;
    position: absolute;
    box-sizing: border-box;
    border: 1px solid #fff;
}

.header__promo-button:hover {
    background-color: var(--main-color);
    cursor: pointer;
}

.header__promo-button__left::after, .header__promo-button__right::after {
    margin-left: 18px;
    border-style: solid;
	border-width: 2px 2px 0 0;
	content: '';
	display: inline-block;
	height: 0.49em;
	position: relative;
	vertical-align: top;
	width: 0.49em;
    top: 15px;
	transform: rotate(225deg);
}

.header__promo-button__right::after {
	transform: rotate(45deg);
    margin-left: 13px;
}

.header__promo-button__left {
    top: 273px;
    left: 50px;
}
.header__promo-button__right {
    top: 273px;
    right: 50px;
}

@media screen and (max-width: 1250px) {
    .header__promo-text-block {
        position: relative;
        bottom: 135px;
        left: 40px;
    }
}

@media screen and (max-width: 950px) {
    .header__promo-image:first-child {
        width: 50%;
        top: -56px;
        right: 20%;
    }
    .header__promo-text-block {
        left: -27px;
    }
    .header__promo-title {
        padding-top: 155px;
    }
    .header__promo-image-wrap {
        padding-bottom: 100px;
    }
    .header__promo-image:last-child {
        right: 33%;
    }
    .header__promo-link {
        margin-top: 20px;
    }
}

@media screen and (max-width: 650px) {
    .header__promo-image:first-child {
        width: 50%;
        top: -30px;
    }
    .header__promo-image-wrap {
        padding-bottom: 80px;
    }
    .header__promo-image:last-child {
        right: 23%;
    }
}

@media screen and (max-width: 500px) {
    .header__promo-button {
      display: none;
    }
    .header__promo-image:last-child {
        right: 15%;
    }
}