.container {
    margin: 0 auto;
    max-width: 1168px;
    padding: 0 15px;
}

body {
    margin: 0;
    font-family: "inter", sans-serif;
    font-size: 14px;
    color: var(--text-color);
    background: var(--basic-color);
  }

a {
    text-decoration: none;   
}

.link-button {
    border: 1px solid var(--main-color);
    text-align: center;
    color: var(--main-color);
    display: block;
    max-width: 260px;
    height: 40px;
    box-sizing: border-box;
    padding-top: 11px;
}

.link-button:hover {
    color: var(--basic-color);
    border-color: var(--main-color);
    background-color: var(--main-color);

}