:root {
    --main-color: #0F2A59;
    --main-on-hover: #0b2043;
    --basic-color: #fff;
    --text-color: #181818;
    --back-color: #e8e8e8;
    --services-back: #F8F8F8;
    --services-border: #ebebeb;
}